.error {
    color: crimson;
}

.miro-radiobutton {
    margin-right: 15px;
}

.text {
    margin-right: 15px;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ffffff;
    padding: 5px 11px 5px;
    font-family: Arial, serif;
    font-size: 13px;
    cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked ~ * {
    background: #c0edff !important;
}

.hatStyles {
    display: none;
}
@media screen and (max-width: 450px) and (min-width: 300px){
    /*450-300*/
    .hatStyles {
        display: flex;
        position: absolute;
        top: 14%;
        right: 3%
    }
}
@media screen and (max-width: 600px) and (min-width: 450px){
    /*600-450*/
    .hatStyles {
        display: block;
        position: absolute;
        top: 14%;
        right: 6%
    }
}
@media screen and (max-width: 800px) and (min-width: 600px){
    /*800-600*/
    .hatStyles {
        display: flex;
        position: absolute;
        top: 14.5%;
        right: 9%;
    }
}
@media screen and (max-width: 1000px) and (min-width: 800px){
    /*1000-800*/
    .hatStyles {
        display: flex;
        position: absolute;
        top: 15%;
        right: 10%;
    }
}
@media screen and (max-width: 1200px) and (min-width: 1000px){
    /*1200-1000*/
    .hatStyles {
        display: flex;
        position: absolute;
        top: 16%;
        right: 12%;
    }
}
@media screen and (max-width: 1400px) and (min-width: 1200px){
    /*1400-1200*/
    .hatStyles {
        display: flex;
        position: absolute;
        top: 17%;
        right: 13%;
    }
}
