@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import '/src/Assets/Styles/Table.css';
@import '/src/Assets/Styles/Dropdown.css';
@import '/src/Assets/Styles/Modal.css';

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #343760 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eefbf9 !important;
    scroll-behavior: auto !important;
}

section {
    width: 100%;
}

.sect {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

label {
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 4px 8px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 500px;
    width: 100%;
}

input {
    padding-right: 40px !important;
}

input, select {
    background: #ffffff;
}

input:focus-visible, select:focus-visible {
    outline: 1px solid #47C0C1;
}

.input-container input, select {
    box-sizing: border-box !important;
    width: 100% !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 8px !important;
    color: #343760 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    cursor: pointer;
}

.input-submit:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

select {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
}

.search {
    position: relative;
    max-width: 352px;
    width: 100%;
}

.search::before {
    content: url("https://res.cloudinary.com/loksblnine/image/upload/v1663757537/PatientApp/assets_front/search_gj8lr3.svg");
    position: absolute;
    width: 10px;
    top: 11px;
    left: 11px;
}

.search-input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 8px 40px 8px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px !important;
}

textarea {
    box-sizing: border-box;
    padding: 8px;
    width: 430px;
    height: 110px;
    resize: none !important;
    border: none;
    background: #EEFBF9;
    color: #343760 !important;
    cursor: pointer;
}

textarea:focus-visible {
    outline: none !important;
}

.error {
    position: absolute;
    bottom: -17px;
    left: 8px;
    font-size: 13px;
    color: #C14847;
}

a, .link {
    color: #47C0C1 !important;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.link {
    margin: 0;
}

.link:hover {
    transform: scale(1.2);
    margin-left: 15px;
    transition: 0.2s ease-in-out;
}

h1 {
    font-size: 22px !important;
}

h2 {
    font-size: 20px !important;
    margin-top: 0;
}

h3 {
    font-size: 18px !important;
    font-weight: 700;
}

button:disabled,
button[disabled] {
    border: 1px solid #AAABBA !important;
    background-color: #AAABBA !important;
    color: #FFFFFF !important;
}

button:focus:not(:focus-visible) {
    outline: none !important;
}

.btn {
    cursor: pointer;
}

.btn:focus {
    box-shadow: none !important;
}

.cancel-btn {
    background-color: #AAABBA !important;
    color: #FFFFFF !important;
}

.empty_bg-btn {
    text-align: center;
    max-width: 498px;
    width: 100%;
    border: 1px solid #47C0C1;
    border-radius: 4px;
    color: #47C0C1;
    padding: 12px 0;
    font-weight: 400;
    font-size: 10px;
    background: none;
    cursor: pointer;
}

.success-btn {
    max-width: 111px !important;
    width: 100%;
    padding: 6px 0;
    text-align: center;
    border: 1px solid #36B37E !important;
    border-radius: 4px;
    background: #36B37E !important;
    color: #ffffff !important;
    font-size: 14px!important;
}

.warning-btn {
    max-width: 111px !important;
    width: 100%;
    padding: 6px 0;
    text-align: center;
    border: 1px solid #C14847 !important;
    border-radius: 4px;
    background: none !important;
    color: #C14847 !important;
    font-size: 14px!important;
}

.success-btn:hover, .warning-btn:hover, .cancel-btn {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.form-btn {
    padding: 11px 0 !important;
    max-width: unset !important;
    font-weight: 400;
    font-size: 18px;
}

.select-btn {
    display: unset !important;
    box-sizing: border-box;
    align-self: flex-end;
    text-align: center;
    width: 110px;
    padding: 6px 0 !important;
    margin-top: 20px;
    color: #ffffff !important;
    font-weight: 400 !important;
    background: #47C0C1 !important;
    border-radius: 4px;
    border: #47C0C1;
}

.select-btn:hover {
    border-color: #47C0C1 !important;
    transition: 0.2s ease-in-out;
}

.toggle-label {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px 8px;
    max-width: 500px;
    width: 100%;
    margin: 0 !important;
    font-size: 16px;
}

.react-switch-bg {
    border: 1px solid #47C0C1 !important;
    margin: 1.25px !important;
}

.react-switch-handle {
    width: 24px !important;
    height: 25px !important;
    top: 0 !important;
}

.card:nth-child(odd) {
    background-color: #eefbf9;
}

.card:nth-child(odd) .table-col-user img {
    background: #eefbf9 !important
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 114px;
    background: none !important;
    border: none !important;
}

.pagination {
    display: flex !important;
    justify-content: center;
    align-self: center;
    gap: 10px;
    margin-top: 35px;
    cursor: pointer;
}

.pagination:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.pagination:hover img {
    transform: rotate(90deg);
    transition: 0.2s ease-in-out;
}

#alert {
    width: 100% !important;
    background: #EEFBF9 !important;
    margin-bottom: 15px !important;
    border-radius: 8px;
}

.status-approved {
    color: #36B37E;
}

.status-rejected {
    color: #C14847;
}

.ml-10 {
    margin-left: 10px;
}