#dropdown-basic {
    background: none !important;
    border: none !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #47C0C1 !important;
    padding: 0 !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle:hover img {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.dropdown-item {
    display: flex !important;
    flex-direction: column;
}

.dropdown-item:hover {
    background: none !important;
    transition: 0.2s ease-in-out;
}

.dropdown-reject {
    padding: 20px !important;
    gap: 20px;
}

.dropdown-reject-btn {
    align-self: flex-end;
    max-width: fit-content !important;
    width: 100%;
    padding: 7px 0;
    border: 1px solid #C14847 !important;
    border-radius: 4px;
    background: none !important;
    text-align: center;
    color: #C14847 !important;
}

.dropdown-reject-btn:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.dropdown-message {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #343760;
}

.dropdown-message:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}

.dropdown-date-item {
    color: #343760;
    margin: 15px 0 4px 2px !important;
}

.dropdown-notice {
    max-width: 240px !important;
    align-items: center !important;
}

.dropdown-btns {
    display: flex;
    justify-content: space-between;
}

.dropdown-notice .select-btn {
    align-self: center !important;
}

.dropdown-approve-btn {
    align-self: flex-end;
    margin-top: 20px;
}

.css-1iezzy6-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
}